<ng-container *ngIf="roster$ | async as roster">
  <nz-page-header nzTitle="{{'Roster.title'|translate}}" nzSubtitle="{{'Roster.subtitle'|translate}}">
    <nz-page-header-extra>
      <button nz-button
              *ngIf="hasLocalstorageRoster"
              nzType="primary"
              nz-popconfirm
              nzPopconfirmTitle="{{'Roster.importPopconfirmTitle'|translate}}"
              (nzOnConfirm)="importFromLocalStorage(roster.$key)">
        {{'Roster.importBtn'|translate}}
      </button>
      <button nz-button (click)="exportRoster(roster)" nz-tooltip nzTooltipTitle="{{'Roster.exportTooltip'|translate}}">
        <i nz-icon nzType="upload" nzTheme="outline"></i>
      </button>
      <button nz-button (click)="importRoster()" nz-tooltip nzTooltipTitle="{{'Roster.importTooltip'|translate}}">
        <i nz-icon nzType="download" nzTheme="outline"></i>
      </button>
    </nz-page-header-extra>
  </nz-page-header>
  <nz-card nzTitle="{{'Roster.Characters.title'|translate}}">
    <nz-list [nzDataSource]="roster.characters" cdkDropList [cdkDropListData]="roster.characters" (cdkDropListDropped)="drop(roster, $event)">
      <nz-list-item *ngFor="let character of roster.characters;trackBy: trackByCharacter"
                    [nzContent]="noteEditor"
                    [nzActions]="[setPrivateAction, setLazyAction,setWeeklyGoldAction, setClassAction, deleteAction]"
                    cdkDrag [cdkDragData]="character">
        <ng-template #noteEditor>
          <div class="note-editor">
          <textarea nz-input
                    placeholder="{{'Roster.Characters.customNotePlaceholder'|translate}}"
                    cols="50"
                    rows="3"
                    [(ngModel)]="character.note"
                    [ngModelOptions]="{updateOn: 'blur'}"
                    (ngModelChange)="saveCharacter(character, roster)"></textarea>
          </div>
        </ng-template>

        <nz-list-item-meta [nzTitle]="title" [nzDescription]="description" class="character-meta"
                           nzAvatar="./assets/icons/classes/class_{{character.class?.toString()?.padStart(2,'0')}}.png"></nz-list-item-meta>
        <ng-template #title>
          <input type="text" nz-input [ngModel]="character.name" [ngModelOptions]="{updateOn: 'blur'}" (ngModelChange)="saveCharacterName(character, roster, $event)" class="character-name-input">
        </ng-template>
        <ng-template #description>
          ilvl
          <nz-input-number [(ngModel)]="character.ilvl" [ngModelOptions]="{updateOn: 'blur'}"
                           (ngModelChange)="saveCharacter(character, roster)"></nz-input-number>
        </ng-template>
        <ng-template #setWeeklyGoldAction>
          <label nz-checkbox [(ngModel)]="character.weeklyGold" (ngModelChange)="saveCharacter(character, roster)"></label>
          Weekly Gold
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="Enable weekly gold for this character"></i>
        </ng-template>
        <ng-template #setPrivateAction>
          <label nz-checkbox [(ngModel)]="character.isPrivate" (ngModelChange)="saveCharacter(character, roster)"></label>
          {{'Roster.Characters.private'|translate}}
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="{{'Roster.Characters.privateTooltip'|translate}}"></i>
        </ng-template>
        <ng-template #setLazyAction>
          <label nz-checkbox [(ngModel)]="character.lazy" (ngModelChange)="saveCharacter(character, roster)"></label>
          {{'Roster.Characters.lazy'|translate}}
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="{{'Roster.Characters.lazyTooltip'|translate}}"></i>
        </ng-template>
        <ng-template #setClassAction>
          <nz-select class="class-selector"
                     [(ngModel)]="character.class"
                     (ngModelChange)="saveCharacter(character, roster)"
                     nzShowSearch>
            <nz-option *ngFor="let row of classes"
                       [nzValue]="row.id" [nzLabel]="'Classes.'+row.name|translate"
                       nzCustomContent>
              <div class="class-row">
                <img src="./assets/icons/classes/{{row.icon}}" alt="" class="class-icon">
                <div>{{'Classes.'+row.name|translate}}</div>
              </div>
            </nz-option>
          </nz-select>
        </ng-template>
        <ng-template #deleteAction>
          <button nz-button nzDanger nz-popconfirm
                  nzPopconfirmTitle="{{'Roster.Characters.removePopconfirmTitle'|translate}}"
                  (nzOnConfirm)="removeCharacter(character, roster)" nzShape="circle">
            <i nz-icon nzType="delete" nzTheme="outline"></i>
          </button>
        </ng-template>
      </nz-list-item>
    </nz-list>
  </nz-card>
  <nz-divider></nz-divider>
  <nz-card nzTitle="{{'Roster.AddCharacter.title'|translate}}">
    <form nz-form [formGroup]="form" (ngSubmit)="addCharacter(roster)">
      <nz-form-item>
        <nz-form-control nzErrorTip="{{'Roster.AddCharacter.nameError'|translate}}">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="name" placeholder="{{'Roster.AddCharacter.namePlaceholder'|translate}}" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="{{'Roster.AddCharacter.ilvlError'|translate}}">
          <nz-input-group nzPrefixIcon="info">
            <input nz-input formControlName="ilvl" placeholder="{{'Roster.AddCharacter.ilvlPlaceholder'|translate}}" type="number" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="{{'Roster.AddCharacter.classError'|translate}}">
          <nz-input-group nzAddOnBefore="{{'Roster.AddCharacter.classPlaceholder'|translate}}">
            <nz-select formControlName="class" class="class-selector" nzShowSearch>
              <nz-option *ngFor="let row of classes"
                         [nzValue]="row.id" [nzLabel]="row.name"
                         nzCustomContent class="class-row">
                <div class="class-row">
                  <img src="./assets/icons/classes/{{row.icon}}" alt="" class="class-icon">
                  <div>{{'Classes.'+row.name|translate}}</div>
                </div>
              </nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <label nz-checkbox formControlName="lazy">
          {{'Roster.Characters.lazy'|translate}}
          <i nz-icon nzType="info-circle" nzTheme="outline" nz-tooltip nzTooltipTitle="{{'Roster.Characters.lazyTooltip'|translate}}"></i>
        </label>
      </nz-form-item>
      <button nz-button [nzType]="'primary'" [disabled]="!form.valid">{{'Roster.AddCharacter.action'|translate}}</button>
    </form>
  </nz-card>
</ng-container>
